<!-- <section class="empty-cart" >
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-center align-items-center flex-column">
        <h3 class="empty-cart__title">Cart empty</h3>
        <p class="empty-cart__text m-0 text-muted">You probably haven't ordered a pizza jet.</p>
        <span class="empty-cart__text m-0 mb-5 text-muted"
          >To order a pizza, go to the <a href="/" class="btn empty-cart__button">home page</a>
        </span>

        <img src="/img/empty-cart.png" class="img-fluid empty-cart__img" alt="" />
      </div>
    </div>
  </div>
</section> -->

<section class="cart">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="cart__title text-muted"><span class="svgicon-shopping-cart-solid me-2"></span>Order summary</h3>
        <hr />
      </div>
    </div>

    <div class="row p-3 shadow shadow-sm m-1 bg-light">
      <div class="col-lg-1 col-md-2 col-sm-3 cart__img-box">
        <img src="/img/pizzas/pizza1.png" alt="" />
      </div>
      <div class="col-lg-9 col-md-6 col-sm-5 cart__content">
        <h4>Marinada</h4>
        <span class="badge bg-warning text-dark">medium</span>
      </div>
      <div class="col cart__content">
        <p>1Psc</p>
      </div>
      <div class="col cart__content">
        <p class="text-end cart__price">$300</p>
      </div>
    </div>
    <div class="row p-3 shadow shadow-sm m-1 bg-light">
      <div class="col-lg-1 col-md-2 col-sm-3">
        <img src="/img/pizzas/pizza1.png" style="width: 100%" alt="" />
      </div>
      <div class="col-lg-9 col-md-6 col-sm-5 cart__content">
        <h4>Marinada</h4>
        <span class="badge bg-warning text-dark">medium</span>
      </div>
      <div class="col cart__content">
        <p>1Psc</p>
      </div>
      <div class="col cart__content">
        <p class="text-end cart__price">$300</p>
      </div>
    </div>
    <div class="row p-3 shadow shadow-sm m-1 bg-light">
      <div class="col-lg-1 col-md-2 col-sm-3">
        <img src="/img/pizzas/pizza1.png" style="width: 100%" alt="" />
      </div>
      <div class="col-lg-9 col-md-6 col-sm-5 cart__content">
        <h4>Marinada</h4>
        <span class="badge bg-warning text-dark">medium</span>
      </div>
      <div class="col cart__content">
        <p>1Psc</p>
      </div>
      <div class="col cart__content">
        <p class="text-end cart__price">$300</p>
      </div>
    </div>
  </div>
</section>
