<!-- start::HERO SECTION -->
<section class="hero">
  <div class="container">
    <div class="col-12">
      <div class="row">
        <div class="col-lg-6 hero__box">
          <p class="hero__subtitle">Are you hungry?</p>
          <h1 class="hero__title">Don't Wait!</h1>
          <button class="btn hero__button">Order now</button>
        </div>
        <div class="col-lg-6 hero__box">
          <img class="img-fluid" src="/img/pizza-hd.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end::HERO SECTION -->
