<!-- start::HERO SECTION -->
<section class="hero">
  <div class="container">
    <div class="col-12">
      <div class="row">
        <div class="col-lg-6 hero__box">
          <p class="hero__subtitle">Are you hungry?</p>
          <h1 class="hero__title">Don't Wait!</h1>
          <button class="btn hero__button">Order now</button>
        </div>
        <div class="col-lg-6 hero__box">
          <img class="img-fluid" src="/img/pizza-hd.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end::HERO SECTION -->

<!-- start::PRODUCT SECTION -->
<section class="products">
  <div class="container py-2">
    <div class="row mb-1">
      <h3 class="products__title text-muted">All pizzas</h3>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card mb-4 rounded-2">
          <!-- card body -->
          <div class="card-body shadow pb-0">
            <!-- img box -->
            <div class="products__img-box">
              <img src="/img/pizzas/pizza1.png" class="img-fluid" alt="" />
            </div>

            <!-- product info -->
            <div class="products__info">
              <h3>Margherita</h3>

              <small class="text-muted">cheess</small>

              <h2 class="card-title pricing-card-title"><span class="text-muted fw-light">$</span>300</h2>
            </div>
          </div>

          <!-- card footer -->
          <div class="card-footer shadow p-0 border-0 bg-white">
            <button type="button" class="w-100 btn products__button btn-lg">order now</button>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card mb-4 rounded-2">
          <!-- card body -->
          <div class="card-body shadow pb-0">
            <!-- img box -->
            <div class="products__img-box">
              <img src="/img/pizzas/pizza1.png" class="img-fluid" alt="" />
            </div>

            <!-- product info -->
            <div class="products__info">
              <h3>Margherita</h3>

              <small class="text-muted">cheess</small>

              <h2 class="card-title pricing-card-title"><span class="text-muted fw-light">$</span>300</h2>
            </div>
          </div>

          <!-- card footer -->
          <div class="card-footer shadow p-0 border-0 bg-white">
            <button type="button" class="w-100 btn products__button btn-lg">order now</button>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card mb-4 rounded-2">
          <!-- card body -->
          <div class="card-body shadow pb-0">
            <!-- img box -->
            <div class="products__img-box">
              <img src="/img/pizzas/pizza1.png" class="img-fluid" alt="" />
            </div>

            <!-- product info -->
            <div class="products__info">
              <h3>Margherita</h3>

              <small class="text-muted">cheess</small>

              <h2 class="card-title pricing-card-title"><span class="text-muted fw-light">$</span>300</h2>
            </div>
          </div>

          <!-- card footer -->
          <div class="card-footer shadow p-0 border-0 bg-white">
            <button type="button" class="w-100 btn products__button btn-lg">order now</button>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card mb-4 rounded-2">
          <!-- card body -->
          <div class="card-body shadow pb-0">
            <!-- img box -->
            <div class="products__img-box">
              <img src="/img/pizzas/pizza1.png" class="img-fluid" alt="" />
            </div>

            <!-- product info -->
            <div class="products__info">
              <h3>Margherita</h3>

              <small class="text-muted">cheess</small>

              <h2 class="card-title pricing-card-title"><span class="text-muted fw-light">$</span>300</h2>
            </div>
          </div>

          <!-- card footer -->
          <div class="card-footer shadow p-0 border-0 bg-white">
            <button type="button" class="w-100 btn products__button btn-lg">order now</button>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card mb-4 rounded-2">
          <!-- card body -->
          <div class="card-body shadow pb-0">
            <!-- img box -->
            <div class="products__img-box">
              <img src="/img/pizzas/pizza1.png" class="img-fluid" alt="" />
            </div>

            <!-- product info -->
            <div class="products__info">
              <h3>Margherita</h3>

              <small class="text-muted">cheess</small>

              <h2 class="card-title pricing-card-title"><span class="text-muted fw-light">$</span>300</h2>
            </div>
          </div>

          <!-- card footer -->
          <div class="card-footer shadow p-0 border-0 bg-white">
            <button type="button" class="w-100 btn products__button btn-lg">order now</button>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card mb-4 rounded-2">
          <!-- card body -->
          <div class="card-body shadow pb-0">
            <!-- img box -->
            <div class="products__img-box">
              <img src="/img/pizzas/pizza1.png" class="img-fluid" alt="" />
            </div>

            <!-- product info -->
            <div class="products__info">
              <h3>Margherita</h3>

              <small class="text-muted">cheess</small>

              <h2 class="card-title pricing-card-title"><span class="text-muted fw-light">$</span>300</h2>
            </div>
          </div>

          <!-- card footer -->
          <div class="card-footer shadow p-0 border-0 bg-white">
            <button type="button" class="w-100 btn products__button btn-lg">order now</button>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card mb-4 rounded-2">
          <!-- card body -->
          <div class="card-body shadow pb-0">
            <!-- img box -->
            <div class="products__img-box">
              <img src="/img/pizzas/pizza1.png" class="img-fluid" alt="" />
            </div>

            <!-- product info -->
            <div class="products__info">
              <h3>Margherita</h3>

              <small class="text-muted">cheess</small>

              <h2 class="card-title pricing-card-title"><span class="text-muted fw-light">$</span>300</h2>
            </div>
          </div>

          <!-- card footer -->
          <div class="card-footer shadow p-0 border-0 bg-white">
            <button type="button" class="w-100 btn products__button btn-lg">order now</button>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card mb-4 rounded-2">
          <!-- card body -->
          <div class="card-body shadow pb-0">
            <!-- img box -->
            <div class="products__img-box">
              <img src="/img/pizzas/pizza1.png" class="img-fluid" alt="" />
            </div>

            <!-- product info -->
            <div class="products__info">
              <h3>Margherita</h3>

              <small class="text-muted">cheess</small>

              <h2 class="card-title pricing-card-title"><span class="text-muted fw-light">$</span>300</h2>
            </div>
          </div>

          <!-- card footer -->
          <div class="card-footer shadow p-0 border-0 bg-white">
            <button type="button" class="w-100 btn products__button btn-lg">order now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end::PRODUCT SECTION -->
