<!-- start::LOGIN FORM -->
<form class="form" action="<%= action %>" method="<%= method %>">
  <a href="/">
    <img src="/img/logo.png" alt="logo" />
  </a>
  <h5 class="text-muted my-3">Please sign in</h5>

  <%if(messages.error){ %>
  <h6 class="text-danger"><%= messages.error %></h6>
  <% } %>
  <div class="row">
    <!-- email -->
    <div class="col-12">
      <div class="form-floating mb-2 shadow shadow-sm">
        <input type="email" class="form-control" name="email" id="email" placeholder="Email" />
        <label for="email">Email address</label>
      </div>
    </div>
    <!-- password -->
    <div class="col-12">
      <div class="form-floating mb-2 shadow shadow-sm">
        <input type="password" name="password" class="form-control" id="password" placeholder="Password" />
        <label for="password">Password</label>
      </div>
    </div>
    <!-- submit button -->
    <div class="col-12">
      <button class="w-100 btn btn-lg form__button shadow shadow-sm" type="submit">Sign in</button>
    </div>
    <!-- footer -->
    <div class="col-12">
      <div class="form-floating mb-2 form__footer">
        <p class="text-muted m-0">© 2021</p>
        <a href="/register" class="text-muted form__link">Registration</a>
      </div>
    </div>
  </div>
</form>
<!-- end::LOGIN FORM -->
