<form class="form">
  <img src="/img/logo.png" alt="logo" />
  <h5 class="text-muted my-3">Please sign in</h5>
  <!-- email -->
  <div class="form-floating mb-2">
    <input type="email" class="form-control" name="emal" id="email" placeholder="Email" />
    <label for="email">Email address</label>
  </div>
  <!-- password -->
  <div class="form-floating mb-2">
    <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" />
    <label for="floatingPassword">Password</label>
  </div>

  <button class="w-100 btn btn-lg form__button" type="submit">Sign in</button>

  <div class="form-floating mb-2 form__footer">
    <p class="text-muted m-0">© 2021</p>
    <a href="/register" class="text-muted form__link">Registration</a>
  </div>
</form>
