<section class="single-order">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="single-order__title">Track delivery status</h2>
      </div>
      <div class="col-md-4 d-flex align-items-center">
        <span class="badge rounded-pill single-order__id shadow shadow-sm"><%= data._id %></span>
      </div>
      <hr />
    </div>
  </div>
</section>
