<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand navbar__logo" href="/">
      <img src="/img/logo.png" alt="" />
    </a>

    <!-- izmena -->
    <!-- izmena 2 -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      


      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 navbar__list">
        <li class="nav-item navbar__item">
          <a class="nav-link active" aria-current="page" href="#">Menu</a>
        </li>
        <li class="nav-item navbar__item">
          <a class="nav-link" href="#">Offers</a>
        </li>
        <li class="nav-item navbar__item">
          <a class="nav-link" href="#">My Orders</a>
        </li>
        <li class="nav-item navbar__item">
          <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item navbar__item--cart">
          <a class="nav-link p-0" href="#">
            <i class="svgicon-shopping-cart-solid"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
