// start::HERO
.hero {
  align-items: center;
  background: linear-gradient(90deg, rgba(243, 243, 243, 0.945) 35%, rgba(247, 247, 247, 0.945) 100%), url('/img/overlay.png') repeat-x;
  display: flex;
  min-height: 70vh;
  width: 100%;

  @include media-query(mobile) {
    align-items: flex-start;
    padding: 2rem 0.5rem;
  }

  &__box {
    @include display-style(flex-start, flex, center);
    flex-direction: column;

    img {
      @include media-query(ltablet) {
        width: 70%;
      }
    }

    @include media-query(mobile) {
      align-items: center;
    }

    @include media-query(tablet) {
      align-items: center;
    }

    @include media-query(ltablet) {
      align-items: center;
    }

    &:first-child {
      @include media-query(mobile) {
        margin-bottom: 2rem;
      }

      @include media-query(tablet) {
        margin-bottom: 4rem;
      }

      @include media-query(ltablet) {
        margin-bottom: 5rem;
      }
    }
  }

  &__title {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 1rem;

    @include media-query(mobile) {
      font-size: 50px;
    }

    @include media-query(tablet) {
      font-size: 70px;
    }

    @include media-query(ltablet) {
      font-size: 80px;
    }
  }

  &__subtitle {
    font-style: italic;

    @include media-query(tablet) {
      font-size: 20px;
    }

    @include media-query(ltablet) {
      font-size: 22px;
    }
  }

  &__button {
    @include main-button;
    color: $black-light;

    font-size: 18px;
    font-weight: bold;
    padding: 0.7rem 3rem;
    text-transform: uppercase;

    @include media-query(tablet) {
      padding: 0.6rem 2rem;
    }

    @include media-query(ltablet) {
      padding: 0.8rem 3rem;
    }

    &:hover {
      color: $white;
    }
  }
}
// end::HERO

// start::PRODUCTS SECTION
.products {
  padding: 2rem;

  &__img-box {
    @include display-style(center, flex, center);
    min-height: 250px;

    @include media-query(mobile) {
      min-height: 200px;
    }

    @include media-query(tablet) {
      min-height: 200px;
    }

    @include media-query(ltablet) {
      min-height: 180px;
    }

    @include media-query(laptop) {
      min-height: 170px;
    }

    img {
      width: 90%;
    }
  }

  &__info {
    padding: 1rem 1rem 0;
    text-align: center;

    h3 {
      font-size: 20px;
      margin: 0;
    }

    h2 {
      color: $red;
      font-size: 25px;
      font-weight: bold;
    }
  }

  &__button {
    @include main-button;
    background: $primary;
    border-radius: 0;
    color: $black-light;
    font-size: 17px;
    font-weight: bold;
    padding: 0.8rem 2rem;
    text-transform: uppercase;

    &:hover {
      color: $white;
    }
  }
}
// end::PRODUCTS SECTION
