.navbar {
  background-color: $white;

  &__list {
    @media only screen and (max-width: 991px) {
      align-items: center;
    }
  }

  &__logo {
    width: 50px;

    img {
      width: 100%;
    }
  }

  &__item {
    &--cart {
      @media only screen and (max-width: 991px) {
        width: 25%;
      }

      @include display-style(center, flex, center);
      @include main-button;
      margin-left: 8px;

      a {
        color: $light-gray !important;
      }
    }

    a {
      &::after {
        background-color: $black-hover;
        content: '';
        display: block;
        height: 1px;
        transition: width 0.3s;
        width: 0;
      }

      &:hover {
        color: $white !important;

        &::after {
          transition: width 0.3s;
          width: 100%;
        }
      }
    }

    &:last-child {
      a {
        &::after {
          display: none;
        }
      }
    }
  }
}
