.navbar {
  background-color: $white;

  &__list {
    @media only screen and (max-width: 991px) {
      align-items: center;
    }
  }

  &__item {
    font-weight: bold;
    text-transform: uppercase;

    &--cart {
      @media only screen and (max-width: 991px) {
        width: 25%;
      }

      @include display-style(center, flex, center);
      @include main-button;
      margin-left: 8px;
      padding: 0;

      a {
        color: $black-light;
        padding: 0.4rem 1.3rem !important;
      }
    }

    a {
      &::after {
        background-color: $primary;
        content: '';
        display: block;
        height: 1px;
        transition: width 0.3s;
        width: 0;
      }

      &:hover {
        color: $primary !important;

        &::after {
          transition: width 0.3s;
          width: 100%;
        }
      }
    }

    &:last-child {
      a {
        &::after {
          display: none;
        }
      }
    }
  }

  button {
    border: none;
  }
}
