@font-face {
    font-family: "svg-icons";
    src: url('/fontsvg/svg-icons.eot');
    src: url('/fontsvg/svg-icons.eot?#iefix') format('eot'),
        url('/fontsvg/svg-icons.woff') format('woff'),
        url('/fontsvg/svg-icons.ttf') format('truetype');
  }
  
  @mixin svgicon-styles {
    font-family: "svg-icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
    text-decoration: none;
    text-transform: none;
  }
  
  %svgicon {
    @include svgicon-styles;
  }
  
  @function svgicon-char($filename) {
    $char: "";
  
    @if $filename == check-double-solid {
        $char: "\E001";
    }
    @if $filename == clipboard-check-solid {
        $char: "\E002";
    }
    @if $filename == pizza-slice-solid {
        $char: "\E003";
    }
    @if $filename == shopping-cart-solid {
        $char: "\E004";
    }
    @if $filename == truck-solid {
        $char: "\E005";
    }
    @if $filename == utensils-solid {
        $char: "\E006";
    }
  
    @return $char;
  } 
  
  @mixin svgicon($filename, $insert: before, $extend: true) {
    &:#{$insert} {
        @if $extend {
            @extend %svgicon;
        } @else {
            @include svgicon-styles;
        }
        content: svgicon-char($filename);
    }
  }
  .svgicon-check-double-solid {
    @include svgicon(check-double-solid);
  }
  
  .svgicon-clipboard-check-solid {
    @include svgicon(clipboard-check-solid);
  }
  
  .svgicon-pizza-slice-solid {
    @include svgicon(pizza-slice-solid);
  }
  
  .svgicon-shopping-cart-solid {
    @include svgicon(shopping-cart-solid);
  }
  
  .svgicon-truck-solid {
    @include svgicon(truck-solid);
  }
  
  .svgicon-utensils-solid {
    @include svgicon(utensils-solid);
  }
  
  